body {
   margin: 8px;
   padding: 10px;
}

#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
    font-size: larger;
}
 
img {
    max-width: auto;
    height: auto;
}

html {
    background-color: brown
}

#testP {
    color: blue;
    font-size: 20px;
}

#headings {
    color: purple;
}

.unorderedList {
    color: orangered;
}

#discord {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}